.tarjeta {
  background: #161b22;
  color: #fff;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  background: #eaf3ff;
  color: #0b2340;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}


button {
  background: none;
  color: white;
  border: 1px solid #444;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background: #222;
}


.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #333;
  border-radius: 34px;
  transition: 0.3s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
input:checked + .slider {
  background: #ff5b5b;
}
input:checked + .slider:before {
  transform: translateX(16px);
}
