

body {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.titulo-principal {
  letter-spacing: 7px;
  font-weight: 700;
  margin-bottom: 20px;
}

.barra {
  
  margin-bottom: 20px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 220px 20px;
}

.franja-comic {
  
  color: #ffffff;
  padding: 10px 16px;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  margin-bottom: 20px;
}

.etiqueta {
  
  padding: 6px 40px;
  margin: 0 auto 22px;
  position: relative;
  text-align: center;
}

.contenedor-imagen-idea {
  width: fit-content;
  margin: 90px auto;
}

.imagen-idea {
  width: 300px;
}

.texto-idea {
  max-width: 600px;
  margin: 0 auto;
}

.subtitulo-personajes{
  margin-left: 41%;
}
