*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: sans-serif;

}

body{
  background-color: blue;
}

h1,h2,h3,h4,h5,h6{
  color: white;
}

p{
  color: white;
}

.containerCards{
  display: grid;
  width: 80%;
  max-width: 1280px;
  margin: auto;
  margin-top: 50px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}